In [2]:
import pandas as pd
df = pd.read_csv("printcsvreports.csv")
df

,id,date,type,cancel_date,cancel_reason,patient_id,status,patient_reg_date,patient_first_seen,patient_last_seen,patient_age,ptnt age mnths,patient notes
0,75,10/20/2015,New Well Patient,11/09/2015,SCHEDULING ERROR,4,a,10/20/2015,NaN,NaN,12,151,NaN
1,89,11/09/2015,Well Child Exam,NaN,NaN,6,i,11/02/2015,11/09/2015,11/09/2015,7,89,NaN
2,187,10/01/2015,New Sick Visit,NaN,NaN,1,a,NaN,10/01/2015,02/27/2018,13,163,NaN
3,196,10/15/2015,Follow Up,11/09/2015,SCHEDULING ERROR,1,a,NaN,10/01/2015,02/27/2018,13,163,NaN
4,213,11/09/2015,Well Child Exam,NaN,NaN,6,i,11/02/2015,11/09/2015,11/09/2015,7,89,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12626,68148,08/11/2018,Well Child Exam,NaN,NaN,1760,a,06/07/2018,06/07/2018,08/11/2018,0,2,NaN
12627,68149,08/13/2018,Newborn First Visit,NaN,NaN,1770,a,06/12/2018,08/13/2018,NaN,0,0,NaN
12628,68150,08/18/2018,Well Child Exam,NaN,NaN,1612,a,04/02/2018,04/04/2018,08/11/2018,0,4,PLAN A
12629,68151,08/11/2018,Sick Visit,NaN,NaN,1334,a,11/25/2017,12/02/2017,08/11/2018,2,33,NaN
12630,68152,12/01/2018,Well Child Exam,NaN,NaN,1386,a,12/20/2017,12/21/2017,08/11/2018,4,56,NaN

In [3]:
df['date'] = pd.to_datetime(df['date'])
lastyear = df[(df['date'] > '2018-01-01') & (df['date'] < '2018-12-31')]
totalappt = lastyear['date'].groupby([lastyear.date.dt.month]).agg('count')
endofyear = df[(df['date'] > '2018-08-01') & (df['date'] < '2018-12-31')]
months = ['January','February','March','April','May','June','July','August','September','October','November','December']
totalappt = totalappt.tolist()
with open('stuff1.txt', 'w') as f:
    f.write(str(totalappt))

In [8]:
df[df['patient_id'] == 1400]

,id,date,type,cancel_date,cancel_reason,patient_id,status,patient_reg_date,patient_first_seen,patient_last_seen,patient_age,ptnt age mnths,patient notes
5993,46596,2018-03-02,Newborn First Visit,02/28/2018,SCHEDULING ERROR,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
6046,46679,2018-03-09,Well Child Exam,03/09/2018,PATIENT RESCHEDULED,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
6047,46681,2018-03-09,Well Child Exam,NaN,NaN,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
9864,61786,2018-04-27,Well Child Exam,NaN,NaN,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
10122,62208,2018-04-19,Well Child Exam,04/17/2018,SCHEDULING ERROR,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
10964,63588,2018-06-01,Injection,06/01/2018,PATIENT NO SHOW,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
10972,63596,2018-06-01,Injection,NaN,NaN,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
11339,64111,2018-07-11,Sick Visit,NaN,NaN,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
11355,64133,2018-07-11,Well Child Exam,07/11/2018,PATIENT RESCHEDULED,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
11440,64289,2018-07-19,Well Child Exam,07/19/2018,PATIENT RESCHEDULED,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
11794,65337,2018-03-02,New Well Patient,03/02/2018,PATIENT RESCHEDULED,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN
12514,67913,2018-07-19,Well Child Exam,NaN,NaN,1400,a,12/26/2017,03/09/2018,07/19/2018,0,7,NaN